iato-mcp/config/schema/iato_policy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="iatoPolicy">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="environment" type="xs:string"/>
        <xs:element name="applicationControl" type="xs:string"/>
        <xs:element name="ssdfProfile" type="xs:string"/>
        <xs:element name="workload" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
