iato-mcp/config/schema/network.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="networkPolicy">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="segment" type="xs:string"/>
        <xs:element name="iamProfile" type="xs:string"/>
        <xs:element name="egressRestricted" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
